<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Architex Demo is ......................</p>
      </div>
      <div class="col-lg-4">
        <p>Whether you're a student looking to study your work, a professional looking to ..................! </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/susitnang/xxxxxx" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Architex Demo
        </a>
      </div>
    </div>
  </div>
</section>
